html, body {
  background-color: #222;
  color: #fff;
  font-family: 'Kanit', sans-serif;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  max-width: 960px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  width: calc(100% - 32px);
  min-height: calc(100vh - 32px);
  padding: 6px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

h1, h2, h3, h4, h5, h6, p, a, ul, li, span, div {
  font-family: 'Kanit', sans-serif;
  margin: 0;
}

a, a:visited {
  color: #fff;
  text-decoration: underline;
}